<h3 id="exercise">Exercise 1 (Types): Your First Program</h3>
숙제 제출시 반드시 "Exercise 1 (Types) : Your First Program"이라는 것과 함께, 자신의 이름과 학번을 꼭 기재하세요 (comment도 좋고, 아니면 파일이름에라도 좋고)

1차 과제 제출 :  
지창욱
박사과정
2023236046

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [1]:
# Write your code below and press Shift+Enter to execute 
print("Hello, world") # 지창욱 박사과정 2023236046 진행내용

Hello, world

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Hello, world!")

-->

In [ ]:
print("Hello, world!")

Hello, world!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [2]:
# Write your code below and press Shift+Enter to execute 
print("Hello, world") # Print the raditional hello world
#지창욱 박사과정 2023236046 진행내용

Hello, world

In [ ]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

Double-click __here__ for the solution.

<!-- Your answer is below:

print("Hello, world!") # Print the traditional hello world

-->

<h3 id="exercise">Exercise 2 (Types): Get the object type</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [3]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0) #지창욱 박사과정 2023236046 진행내용

float



```
# 코드로 형식 지정됨
```

Double-click __here__ for the solution.

<!-- Your answer is below:

type(12.0)

-->

<h3 id="exercise">Exercise 2 (Types): Get the object type</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [4]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0) #지창욱 박사과정 2023236046 진행내용

float



```
# 코드로 형식 지정됨
```

Double-click __here__ for the solution.

<!-- Your answer is below:

type(12.0)

-->

<h3 id="exer_type">Exercise 3 (Types): Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [5]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2) #지창욱 박사과정 2023236046 진행내용

float

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6/2) # float
-->

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [6]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2) #지창욱 박사과정 2023236046 진행내용

int

<h3 id="exercise">Exercise 2 (Types): Get the object type</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [11]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0) #지창욱 박사과정 2023236046 진행내용

float



```
# 코드로 형식 지정됨
```

Double-click __here__ for the solution.

<!-- Your answer is below:

type(12.0)

-->

<h3 id="exer_type">Exercise 3 (Types): Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [10]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2) #지창욱 박사과정 2023236046 진행내용

float

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6/2) # float
-->

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [9]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2) #지창욱 박사과정 2023236046 진행내용

int

Double-click __here__ for the solution.

<!-- Your answer is below:
type(6//2) # int, as the double slashes stand for integer division 
-->

<h3 id="exer_exp">Exercise 4 (Types): Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=160/60 #지창욱 박사과정 2023236046 진행내용 float
y=160//60 #지창욱 박사과정 2023236046 진행내용 int
print(x)
print(y)

2.6666666666666665
2

Double-click __here__ for the solution.

<!-- Your answer is below:
160/60 
# Or 
160//60
-->

<h3 id="exer_exp_var">Exercise 5 (Types): Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x= 3+2*2 #지창욱 박사과정 2023236046 진행내용
print(x) #지창욱 박사과정 2023236046 진행내용

7

Double-click __here__ for the solution.

<!-- Your answer is below:
7
-->

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [12]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2 #지창욱 박사과정 2023236046 진행내용
print(y) #지창욱 박사과정 2023236046 진행내용

10

Double-click __here__ for the solution.

<!-- Your answer is below:
10
-->

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [13]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x+y      #지창욱 박사과정 2023236046 진행내용
print(z)           #지창욱 박사과정 2023236046 진행내용

12.666666666666666

Double-click __here__ for the solution.

<!-- Your answer is below:
17
-->