<h2 id="quiz">Quiz on List</h2>
지창욱 박사과정 2023236046

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [1]:
# Write your code below and press Shift+Enter to execute
# 지창욱 박사과정 2023236046 진행

a_list = [1, 'hello', [1, 2, 3] , True]
print(a_list)

[1, 'hello', [1, 2, 3], True]

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
*a_list = [1, 'hello', [1, 2, 3] , True]*
a_list
-->

Find the value stored at index 1 of <code>a_list</code>.

In [2]:
# Write your code below and press Shift+Enter to execute
# 지창욱 박사과정 2023236046 진행

a_list[1]

'hello'

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
a_list[1]
-->

Retrieve the elements stored at index 1, 2 and 3 of <code>a_list</code>.

In [3]:
# Write your code below and press Shift+Enter to execute
# 지창욱 박사과정 2023236046 진행

a_list[1:4]

['hello', [1, 2, 3], True]

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
a_list[1:4]
-->

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [4]:
# Write your code below and press Shift+Enter to execute
# 지창욱 박사과정 2023236046 진행

A=[1,'a'] 
B=[2,1,'d']
T=A+B

print(T)

[1, 'a', 2, 1, 'd']

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B
-->